<div class="container">
  <form method="POST" action="">
    <div class="mb-3">
      <label for="search-input" class="form-label">Từ khóa</label>
      <input
        type="text"
        class="form-control"
        id="search-input"
        placeholder="Nhập từ khóa"
        name="q"
      />

    </div>
    <div class="mb-3">
      <label for="gender-input">Từ khóa</label>
      <select name="gender" id="gender-input">
        <option value="">--Chọn giới Tính--</option>
        <option value="male">Nam</option>
        <option value="female">Nữ</option>
      </select>

    </div>
    <div class="mb-3">
      <label for="gender-input">Từ khóa</label>
      <input name="image" type="file" />

    </div>

    <button type="submit" class="btn btn-primary">Tìm kiếm</button>
  </form>
</div>